%h3== Move Player #{@player.name}

= form_with url: player_moves_path(@player), data: {remote: false} do |form|
  %div
    %label
      direction
      = form.select(:direction, ["North", "East", "South", "West"])
  %div
    = form.submit "Move"