- content_for :js do
  %script
    window.onload = function() { startGame(#{@players_json.html_safe}, #{@resources.to_json.html_safe}) }

%style
  body { 
  background: linear-gradient(to bottom, #2193b0, #6dd5ed);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  }

.board
  .cell.top.left
  .cell.top.center
  .cell.top.right
  .middle.cell.left
  .middle.cell.center
    .canvas-target
  .middle.cell.right
  .bottom.cell.left
  .bottom.cell.center
  .bottom.cell.right