%style
  canvas {
  background-color: #f5e3ae;
  background-size: 38px 38px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  }
  
- content_for :js do
  %script
    window.PLAYER_SPRITES = "#{asset_url('/assets/jake_sprites.png')}"
    window.onload = function() { startGame(#{@players_json.html_safe}, #{@resources.to_json.html_safe}) }