%style
  body {
  background-size: 10px 10px;
  background-image: radial-gradient(circle, #cccccc 1px, rgba(0, 0, 0, 0) 1px);
  background-color: #f5e3ae
  }
  
- content_for :js do
  %script
    window.PLAYER_SPRITES = "#{asset_url('/assets/jake_sprites.png')}"
    window.onload = function() { startGame(#{@players_json.html_safe}, #{@resources.to_json.html_safe}) }