%style
  == body { background-size: 60px; background-repeat: repeat; background-image: url("#{asset_url("grass-background.png")}")
  
- content_for :js do
  %script
    window.PLAYER_SPRITES = "#{asset_url('/assets/jake_sprites.png')}"
    window.onload = function() { startGame(#{@players_json.html_safe}, #{@resources.to_json.html_safe}) }