%div.form-group
  %label Water
  = f.select(:water_stat, options_for_select(0..20), class: 'form-control')

%div.form-group
  %label Food
  = f.select(:food_stat, options_for_select(0..20), class: 'form-control')

%div.form-group
  %label Movement
  = f.select(:movement_stat, options_for_select(0..20), class: 'form-control')

%div.form-group
  %label Stamina
  = f.select(:stamina_stat, options_for_select(0..20), class: 'form-control')