%h3= @player.team.name

- content_for :js do
  %script
    window.onload = function() { startMoves(#{@player.moves.to_json.html_safe}) }

.board
  .cell.top.left
  .cell.top.center
  .cell.top.right
  .middle.cell.left
  .middle.cell.center
    .canvas-target
  .middle.cell.right
  .bottom.cell.left
  .bottom.cell.center
  .bottom.cell.right