// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body { 
  margin: 0;
  padding: 0;
}

canvas {
  margin: 0;
  padding: 0;
}